.redes-sociais {
    display: flex;
    gap: 2px; /* Espaço entre os ícones */
}

.social-btn {
    font-size: 24px;
    color: #f70404; /* Ícones brancos */
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    text-decoration: none;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

/* Instagram - Gradiente oficial */
.instagram {
    background: linear-gradient(45deg, #f9ce34, #ee2a7b, #6228d7);
}

/* WhatsApp - Verde */
.whatsapp {
    background-color: #25D366;
}

/* Efeito hover */
.social-btn:hover {
    transform: scale(1.2);
    box-shadow: 0px 4px 10px rgba(153, 1, 1, 0.63);
    /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); */
}
